
---
# Only the main Sass file needs front matter (the dashes are enough)
index: 0
---

@charset "utf-8";

.profilepic{
	width: 200px;
}

.index-bg{
	background-color: #18BC9C;
}

.about-bg{
	background-color: #8a2be2;
}

.blog-bg{
	background-color: #f08080;
}

.resume-bg{
	background-color: #add8e6;
}

.index2-bg{
	background-color: #fff8dc;
}

.fa2{
	font-size: 30px;
}
