<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

	<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %} | JM</title>	

    <!-- Bootstrap Core CSS -->
    <link href="{{ "/vendor/bootstrap/css/bootstrap.min.css" | prepend: site.baseurl }}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{{ "/css/freelancer.css" | prepend: site.baseurl }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ "/vendor/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    
     <link rel="stylesheet" href="{{ "/css/animate.css" | prepend: site.baseurl }}">

   <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <link rel="shortcut icon" href="{{/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">
  <link rel="icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">

  {% if page.url == "/404.html" %}
        <meta http-equiv="refresh" content="5; url=/">
    {% endif %}

  {% seo %}

</head>
